<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779825517895-jndqp061cjvqvv34t89su91gfff4jgec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779825517895-jndqp061cjvqvv34t89su91gfff4jgec</string>
	<key>API_KEY</key>
	<string>AIzaSyAxTxnhyIF-WaSc_fk7OHyJCoE8Uxdr3N0</string>
	<key>GCM_SENDER_ID</key>
	<string>779825517895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.example</string>
	<key>PROJECT_ID</key>
	<string>ada-project-e9318</string>
	<key>STORAGE_BUCKET</key>
	<string>ada-project-e9318.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779825517895:ios:759be5334dbf46f80de862</string>
</dict>
</plist>